<legend>
	<h2>Edit Projects</h2>
</legend>
<br>

<a href='/admin/projects/new' class='btn btn-primary'>Add New Video</a><br><br>

<ul class="media-list">
	<% @projects.each do |proj| %>
	<li class="media">
		<a class="pull-left" href="projects/<%= proj.id %>/edit" >
			<!-- Look into changing the size of the image to avoid gsub -->
			<img class="media-object" src=<%= proj.img_url.gsub('/0.jpg','/1.jpg') %> >
			<!-- Add 'watch' link here -->
		</a>
		<div class="media-body">
			<h3 class="media-heading">
				<a href="projects/<%= proj.id %>/edit" ><%= proj.title %></a>
				<form action="projects/<%= proj.id %>" method="post">
					<input type="hidden" name="_method" value="delete" />
					<input type="submit" value="Delete" class="btn btn-danger pull-right">
				</form>
			</h3>
			<%= proj.description %>
			<div>
				<% if proj.tags %>
					<% proj.tags.split(',').each do |tag| %>
					<span class="label label-info"><%= tag %></span>
				<% end %>
				<% end %>	
			</div>
		</div>
	</li>
	<% end %>
</ul>
